<ion-toolbar>
  <ion-row>

    
    <ion-col size="12" *ngIf="rs.getActiveAudio()">
        <div *ngIf="rs.tipoAudio(rs.getActiveAudio()) == 'Cancion'">
          <ion-item style="width: 500px; margin: 0 auto;">
            <ion-thumbnail slot=start>
              <img [src]="rs.getActiveAudio().covers[0]">
            </ion-thumbnail>
            <ion-label>
              <h3><span style="font-size: large;">{{ rs.getActiveAudio().nombre }}</span> - {{ rs.getActiveAudio().artistas.join(', ') }}</h3>
              <h4>{{ rs.getActiveAudio().albumes.join(', ') }}</h4>
            </ion-label>
          </ion-item>
        </div>
        <div *ngIf="rs.tipoAudio(rs.getActiveAudio()) == 'Episodio'">
          <ion-item style="width: 400px; margin: 0 auto;">
            <ion-thumbnail slot=start>
              <img [src]="rs.getActiveAudio().foto">
            </ion-thumbnail>
            <ion-label>
              <h3><span style="font-size: large;">{{ rs.getActiveAudio().numCap }}. {{ rs.getActiveAudio().nombre }}</span></h3>
              <h4>{{ rs.getActiveAudio().podcast }}</h4>
              <h4>{{ rs.getActiveAudio().interlocutores.join(', ') }}</h4>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>


    <ion-col size="12">
      <span>
      <ion-range #range [(ngModel)]="rs.progress" max="100" color="danger" (ionBlur)="seek()">
        <ion-label slot=start>{{ rs.mostrarTiempo(rs.getProgress()) }}</ion-label>
        <ion-label slot=end>{{ rs.mostrarTiempo(rs.getDuration()) }}</ion-label>
      </ion-range>
      </span>
    </ion-col>


    <ion-col size="12" class="ion-text-center">
      <!-- Botones del reproductor --->

      <ion-button fill="clear" (click)="rs.prev()" color="light">
        <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="rs.togglePlayer()" *ngIf="!rs.isPlaying" color="light">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="rs.togglePlayer()" *ngIf="rs.isPlaying" color="light">
        <ion-icon slot="icon-only" name="pause"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="rs.next()" color="light">
        <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>
      </ion-button>

      <ion-button (click)="abrirColaReproduccion()" lines="none">
        <ion-icon name="list" style="padding: 1px; zoom: 1.5;"></ion-icon>
      </ion-button>

    </ion-col>
  </ion-row> 
</ion-toolbar>
