<ion-toolbar>
  <ion-row>
    <ion-col size="12" class="ion-text-center" *ngIf="rs.activeTrack">
        <ion-label>{{ rs.activeTrack.nombre }}</ion-label><br>
        <ion-label size="10" *ngIf="rs.tipoAudio(rs.activeTrack) == 'Podcast'">Podcast</ion-label>
        <ion-label size="10" *ngIf="rs.tipoAudio(rs.activeTrack) == 'Cancion'">Cancion</ion-label>
    </ion-col>
    <ion-col size="12">
      <span>
      <ion-range #range [(ngModel)]="rs.progress" max="100" color="danger" (touchend)="seek()" (mouseup)="seek()">
        <!--<ion-label slot=start>{{ rs.player?.duracion }}</ion-label>
        <ion-label slot=end>{{ rs.player?.duration() }}</ion-label>-->
      </ion-range>
      </span>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <!-- Botones del reproductor --->

      <ion-button fill="clear" (click)="rs.prev()" color="light">
        <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="rs.togglePlayer()" *ngIf="!rs.isPlaying" color="light">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="rs.togglePlayer()" *ngIf="rs.isPlaying" color="light">
        <ion-icon slot="icon-only" name="pause"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="rs.next()" color="light">
        <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>
      </ion-button>

      <ion-button (click)="abrirColaReproduccion()" lines="none">
        <ion-icon name="list" style="padding: 1px; zoom: 1.5;"></ion-icon>
      </ion-button>

    </ion-col>
  </ion-row> 
</ion-toolbar>
