  
   ion-slide {
    width: 220px!important;
    height: 250px!important;
    //background-color:  #FFF;
    //margin-left: 15px!important;
    //margin-right: 15px!important;
    //border-radius: 50px!important;
  }
  
  ion-card:hover{
    background: var(--ion-color-playstack-soft-shade);
    cursor: pointer;
  }

/*
  ion-slides {
    background-color:  rgba(194, 193, 194, 0.52);
  }
*/
  img {
    width: 100%;
    height: 100%;
  }

  ion-card{
    background-color:  rgba(194, 193, 194, 0.3);
  }

  .ion-color-playstack-soft {
    --ion-color-base: var(--ion-color-playstack-soft);
    --ion-color-base-rgb: var(--ion-color-playstack-soft-rgb);
    --ion-color-contrast: var(--ion-color-playstack-soft-contrast);
    --ion-color-contrast-rgb: var(--ion-color-playstack-soft-contrast-rgb);
    --ion-color-shade: var(--ion-color-playstack-soft-shade);
    --ion-color-tint: var(--ion-color-playstack-soft-tint);
  }
  
  .ion-color-playstack {
    --ion-color-base: var(--ion-color-playstack);
    --ion-color-base-rgb: var(--ion-color-playstack-rgb);
    --ion-color-contrast: var(--ion-color-playstack-contrast);
    --ion-color-contrast-rgb: var(--ion-color-playstack-contrast-rgb);
    --ion-color-shade: var(--ion-color-playstack-shade);
    --ion-color-tint: var(--ion-color-playstack-tint);
  }
