<ion-header>
  <ion-toolbar>
    <ion-title>Nueva playlist</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #formuario="ngForm" (ngSubmit)="crearLista()">
    <ion-item>
      <ion-input required="true" [(ngModel)]="nombreLista" name="nombre" autocorrect="on" autofocus="on" clearInput="true" inputmode="text" placeholder="Nombre de la lista"></ion-input>
    </ion-item>
    <div style="padding: 10px;" >
      <ion-button type="submit" color="light" style="--border-radius: 15px; width: 310px;"><b>Crear lista</b></ion-button>
    </div>
  </form>

</ion-content>
