<ion-header>
  <ion-toolbar>
    <ion-title>Crear contenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment color="light" [value]="currentTab">
      <ion-segment-button value="Musica" (click)="setMusic()">
        Música
      </ion-segment-button>
      <ion-segment-button value="Podcasts" (click)="setPodcasts()">
        Podcasts
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-content *ngIf="currentTab == 'Musica'">
    <ion-item-group style="text-align: right;">
      <ion-button color="light" style="width: auto; height: 45px; padding-bottom: 10px;" (click)="presentModal()">
        <ion-icon name="add-outline"></ion-icon>
        <b>Crear playlist</b>
      </ion-button>

      <ion-button color="light" style="width: auto; height: 45px; padding-bottom: 10px;">
        <ion-icon name="add-outline"></ion-icon>
        <b>Crear carpeta</b>
      </ion-button>
    </ion-item-group>
    <ion-grid>
      <ion-row style="font-size: large;">
        <ion-col>Nombre</ion-col>
        <ion-col>Artista</ion-col>
        <ion-col>Duración</ion-col>
        <ion-col>Fecha</ion-col>
      </ion-row>
      <ion-row *ngFor="let cancion of listado | async | keyvalue"
        (click)="rs.start(rs.constructTrack(cancion)); rs.addToPlaylistObservable(listado)">
        <!--NO SE POR QUÉ FALLA [color]="cancion.key == rs.activeTrack?.nombre ? 'playstack shade' : 'white'"-->
        <img src="{{ cancion.value[0] }}" />
        <ion-col>{{ cancion.key }}</ion-col>
        <ion-col>{{ cancion.value.Artistas }}</ion-col>
        <!-- Falta la duracion en el servicio <ion-col>{{ cancion.value.duracion}}</ion-col>-->
        <!-- Falta la fecha en el servicio <ion-col>{{ cancion.value.fecha}}</ion-col>-->
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-content *ngIf="currentTab == 'Podcasts'">
    <ion-toolbar>
      <ion-segment color="light" [value]="currentTabPodcasts">
        <ion-segment-button value="Episodios" (click)="setEpisodios()">
          Episodios
        </ion-segment-button>
        <ion-segment-button value="Programas" (click)="setProgramas()">
          Programas
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <!-- Falta por hacer acceso a BD-->
    <ion-content *ngIf="currentTabPodcasts == 'Episodios'">
      Sin escuchar:
      <ion-card *ngFor="let episodio of listado | async | keyvalue">
        <!-- (click)="rs.start(rs.constructTrack(cancion)); rs.addToPlaylistObservable(listado)"> -->
        <ion-card-content>
          <ion-label [color]="episodio.key == rs.activeTrack?.nombre ? 'playstack shade' : 'white'">
            {{ episodio.key }}
          </ion-label>
          <ion-label>
            {{ episodio.value.programa }}
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-content>

    <ion-content *ngIf="currentTabPodcasts == 'Programas'">
      Podcasts que sigues:
      <ion-grid>
        <!--
        <ion-row style="font-size: large;">
          <ion-col>Nombre</ion-col>
          <ion-col>Presentación</ion-col>
          <ion-col>Duración</ion-col>
        </ion-row>
        <ion-row *ngFor="let programa of listado | async | keyvalue">
          <ion-col>{{ programa.key }}</ion-col>
          <ion-col>{{ programa.value.presentacion }}</ion-col>
          <ion-col>{{ programa.value.duracion}}
        </ion-row>
      -->
      </ion-grid>
    </ion-content>

  </ion-content>
</ion-content>
