<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="./home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ playlist.tipo }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!--img src="{{ listaCanciones.value[0] }}" style="width: 50px; height: 50px; border-radius: 5px; margin: 10px;"/-->
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-center" style="padding: 40px;">
        <ion-img style="width: 50%; margin: 0 auto;" [src]="playlist.covers[0]"></ion-img>
        <h1>{{ playlist.nombre }}</h1>

        <ion-item *ngIf="playlist?.tipo == 'Playlist'" style="width: min-content; margin: 0 auto;">
          <ion-label>Privada</ion-label>
          <ion-toggle [checked]="playlist.esPrivada" (click)="togglePrivada()"></ion-toggle>
        </ion-item>

        <p>Número de canciones: {{ this.playlist?.tracks.length }}</p>
      </ion-col>
      <ion-col size="8" style="padding: 40px">
        <ion-row class="ion-text-center">
          <h2>Canciones</h2>
        </ion-row>
        <ion-row style="font-size: large;">
          <ion-col size="1">#</ion-col>
          <ion-col>Titulo</ion-col>
          <ion-col>Album</ion-col>
          <ion-col>Artista</ion-col>
          <ion-col size="2">Duracion</ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>

        <div expand="full">
          <ion-spinner *ngIf="showSpinner"></ion-spinner>
          <ion-item *ngIf="showError">{{ mensajeError }}</ion-item>
        </div>

        <ion-row *ngFor="let cancion of listaCanciones | async | keyvalue; let i = index">
          <ion-item button (click)="playSong(i)" style="width: 100%;">
            {{ addSong(cancion, i) }}

            <ion-col class="ion-text-start" size="1">{{ i + 1 }}</ion-col>

            <!-- <ion-col><img src="{{ cancion.value.ImagenesAlbum[0] }}"></ion-col> -->

            <ion-col>{{ cancion.key }}</ion-col>
            <ion-col>{{ cancion.value.Albumes?.join(", ") }}</ion-col>
            <ion-col>{{ cancion.value.Artistas?.join(", ") }}</ion-col>
            <ion-col size="2" class="ion-text-center">3:40</ion-col>

            <ion-col size="2">
              <ion-button *ngIf="cancion.value.EsFavorita || playlist.tipo == 'Favoritas'"
                (click)="desmarcarFavorita(cancion.key); $event.stopPropagation()">
                <ion-icon name="heart"></ion-icon>
              </ion-button>
              <ion-button *ngIf="!cancion.value.EsFavorita && playlist.tipo != 'Favoritas'"
                (click)="marcarFavorita(cancion.key); $event.stopPropagation()">
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="addToCola(cancion); $event.stopPropagation()">
                <ion-icon name="list-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="addToPlaylist(cancion.key); $event.stopPropagation()">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </ion-col>

          </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-reproductor></app-reproductor>
  </ion-toolbar>
</ion-footer>