<ion-header>
  <ion-toolbar>
    <ion-title>
      <div style="display: flex;">
        <ion-icon class="initPageLogo" src="assets/icon/playstack-icon.svg"></ion-icon>
        <h1>PlayStack</h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: wheat;">
  <ion-card class="card">
    <ion-card-content class="ion-text-center">
      <h1 class="itemCard">Music, something for everyone</h1>
      <h2 class="itemCard" style="padding-top: 15px;">Disfruta de miles de canciones cuando tú quieras</h2>
      <div style="padding: 10px;">
        <ion-button [routerLink]="['/register']" color="tertiary" style="--border-radius: 15px; width: 310px; height: 45px; padding-bottom: 10px;"><b>Registrarse gratis</b></ion-button>
        <ion-button [routerLink]="['/login']" color="light" style="--border-radius: 15px; width: 310px;"><b>Iniciar Sesión</b></ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
