<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <!--
  <div class="div-horizontal-scroll">
    <h1>Generos</h1>
    <ion-spinner *ngIf="showSpinner1"></ion-spinner>
    <app-scrollhorizontal [listaPlaylists]="cs.getTodosGeneros()"></app-scrollhorizontal>
  </div>

  <div class="div-horizontal-scroll">
    <h1>Artistas</h1>
    <ion-spinner *ngIf="showSpinner2"></ion-spinner>
    <app-scrollhorizontal [listaPlaylists]="cs.getTodosArtistas()"></app-scrollhorizontal>
  </div>

  <div class="div-horizonal-scroll">
    <h1>Podcasts recomendados</h1>
    <app-scrollhorizontal [listaPodcasts]="cs.getTodosPodcasts()"></app-scrollhorizontal>
  </div>
-->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-reproductor></app-reproductor>
  </ion-toolbar>
</ion-footer>