<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <div expand="full">
    <h1>Generos</h1>
    <ion-spinner *ngIf="showSpinner1"></ion-spinner>
    <app-scrollhorizontal [listaPlaylists]="rs.getGeneros()"></app-scrollhorizontal>
  </div>

  <div expand="full">
    <h1>Artistas</h1>
    <ion-spinner *ngIf="showSpinner2"></ion-spinner>
    <app-scrollhorizontal [listaPlaylists]="rs.getArtistasHome()"></app-scrollhorizontal>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-reproductor></app-reproductor>
  </ion-toolbar>
</ion-footer>