<ion-header>
  <ion-toolbar>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Perfil de usuario
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-button (click)="cambiarImagen()" class="boton-imagen">
              <ion-icon slot="icon-only" name="person-circle-outline" class="foto-perfil"></ion-icon>
            </ion-button>
            <ion-label style="display: block;">Cambiar imagen de usuario</ion-label>
          </ion-col>


          <ion-col style="padding: 40px;" class="ion-text-center">

            <!-- Configuración -->
            <form ngForm (ngSubmit)="cambiarDatos()">
              <ion-item lines="none" style="padding-top: 20px; padding-left: -10px;">
                <ion-text color="light">Cambia aquí tu nombre de usuario, ¡es gratis!</ion-text>
              </ion-item>
              <ion-item>
                <ion-input [(ngModel)]="nuevoNombreUsuario" name="correo" autocorrect="on"
                  autofocus="on" clearInput="true" inputmode="text" placeholder="Nuevo nombre de usuario"></ion-input>
                <ion-icon name="person-circle-outline"></ion-icon>
              </ion-item>
              <ion-item lines="none" style="padding-top: 20px; padding-left: -10px;">
                <ion-text color="light">Por favor, confírmanos que eres tú</ion-text>
              </ion-item>
              <ion-item>
                <ion-input [(ngModel)]="correo" name="nombre" clearInput="true" inputmode="text"
                  placeholder="Introduce tu dirección de correo electrónico"></ion-input>
                <ion-icon name="mail-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="passwd"
                  name="passwd" clearInput="true" placeholder="Introduce tu contraseña"></ion-input>
                <ion-icon [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
              </ion-item>
              <ion-text color="danger">{{ mensajeCambioDatos }}</ion-text>
              <ion-item lines="none" class="boton-aceptar">
                <div style="padding-top: 10px;">
                  <ion-button type="submit" color="light" style="--border-radius: 15px; width: 310px;"><b>Guardar
                    cambios</b>
                </ion-button>
                </div>
              </ion-item>
            </form>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Cuenta
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <div>Tienes una subscripción</div>
      <ion-chip style="width: 100px">Estándar</ion-chip>
      <ion-button (click)="actualizar()" style="width: 200px">Hacerse premium</ion-button>
    </ion-card-content>
  </ion-card>



  <ion-button (click)="logout()" [routerLink]="['/login']" color="playstack-soft"
    style="--border-radius: 15px; width: 400px; height: 70px; padding-top: 20px; padding-bottom: 10px; padding-left: 12%;">
    <b>Cerrar Sesión</b>
  </ion-button>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-reproductor></app-reproductor>
  </ion-toolbar>
</ion-footer>