<ion-header>
  <ion-toolbar>
    <ion-title>
      <div style="display: flex;">
        <ion-icon class="initPageLogo" src="assets/icon/playstack-icon.svg"></ion-icon>
        <h1>PlayStack</h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: linear-gradient(#e94546, #e94546, #ef7b7e, #3d2d2d);">
  <ion-card class="card">
    <ion-card-content class="ion-text-center">
      <h1 class="itemCard">Music, something for everyone</h1>
      <form #formuario="ngForm" (ngSubmit)="hacerLogin()">
        <ion-item >
          <ion-input required="true" [(ngModel)]="usuario.nombre" name="nombre" autocorrect="on" autofocus="on" clearInput="true" inputmode="text" placeholder="Correo electrónico o nombre de usuario"></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-input required="true" [(ngModel)]="usuario.passwd" name="passwd" [type]="showPassword ? 'text' : 'password'" clearInput="true" placeholder="Contraseña"></ion-input>
          <ion-icon [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <ion-text color="danger">{{mensajeFormulario}}</ion-text>
        <div style="padding: 10px;">
          <ion-button type="submit" color="light" style="--border-radius: 15px; width: 310px;"><b>Iniciar Sesión</b></ion-button>
          <div style="border-top: 1px solid #d9dadc; display: block; line-height: 1px; margin: 15px 0; position: relative; text-align: center;"></div>
          <ion-button color="light" style="--border-radius: 15px; width: 310px;">
            <ion-icon style="padding-right: 15px;" src="assets/icon/google-logo.svg"></ion-icon>
            <b>Iniciar Sesión con Google</b>
          </ion-button>
        </div>
      </form>
      <p style="padding: 15px;"><b style="color:gray; padding-right: 10px;">¿NO TIENES CUENTA?</b><a [routerLink]="['/register']" style="color: white;">Regístrate</a></p>
    </ion-card-content>
  </ion-card>

</ion-content>