<ion-header>
  <ion-toolbar>
    <ion-title>
      <div style="display: flex;">
        <ion-icon class="initPageLogo" src="assets/icon/playstack-icon.svg"></ion-icon>
        <h1>PlayStack</h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: linear-gradient(#e94546, #e94546, #ef7b7e, #3d2d2d);">
  <ion-card class="card">
    <ion-card-content class="ion-text-center">
      <h1 class="itemCard">Empieza a escuchar música gratis con tu cuenta de PlayStack</h1>
      <ion-item >
        <ion-input required="true" autocorrect="on" autofocus="on" clearInput="true" inputmode="text" placeholder="Correo electrónico o nombre de usuario"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item class="itemCard">
        <!--<ion-input  #passwordEyeRegister  [type]="passwordTypeInput"  formControlName="password" clearOnEdit="false"></ion-input>  
        <button  item-end  class="btn_eye_icon"  (click)="togglePasswordMode()">
          <ion-icon  [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>   
        </button> -->
        <ion-input [type]="showPassword ? 'text' : 'password'" required="true" clearInput="true" placeholder="Contraseña"></ion-input>
        <ion-icon [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input required="true" clearInput="true" inputmode="text" placeholder="Nombre de usuario"></ion-input>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-item>
      <div style="padding: 10px;">
        <ion-button color="light" style="--border-radius: 15px; width: 310px;"><b>Continuar</b></ion-button>
        <div style="border-top: 1px solid #d9dadc; display: block; line-height: 1px; margin: 15px 0; position: relative; text-align: center;"></div>  
      </div>
      <p style="padding: 15px; text-transform: uppercase;"><b style="color:gray; padding-right: 10px;">¿Ya tienes una cuenta?</b><a href="../login" style="color: white;">Inicia sesión</a></p>
    </ion-card-content>
  </ion-card>

</ion-content>