<ion-header>
  <ion-toolbar>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-toolbar>
    <ion-segment color="light" [value]="currentTab">
      <ion-segment-button value="Musica" (click)="setMusic()">
        Música
      </ion-segment-button>
      <ion-segment-button value="Podcasts" (click)="setPodcasts()">
        Podcasts
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-content *ngIf="currentTab == 'Musica'">
    <ion-toolbar>
      <ion-segment color="light" [value]="currentTabMusica">
        <ion-segment-button value="Playlists" (click)="setPlaylists()">
          Playlists
        </ion-segment-button>
        <ion-segment-button value="Artistas" (click)="setArtistas()">
          Artistas
        </ion-segment-button>
        <ion-segment-button value="Albumes" (click)="setAlbumes()">
          Álbumes
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>



    <!-- Pestañas música -->

    <ion-item-group *ngIf="currentTabMusica == 'Playlists'" class="listado">
      <ion-item-group style="text-align: right;">
        <ion-button color="light" style="width: auto; height: 45px; padding-bottom: 10px;" (click)="crearPlaylist()">
          <ion-icon name="add-outline"></ion-icon>
          <b>Crear playlist</b>
        </ion-button>

        <ion-button color="light" style="width: auto; height: 45px; padding-bottom: 10px;">
          <ion-icon name="add-outline"></ion-icon>
          <b>Crear carpeta</b>
        </ion-button>
      </ion-item-group>

      <ion-grid>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col><h5>Nombre</h5></ion-col>
        </ion-row>
        <ion-row>
          <ion-item button (click)="openFavoritas('Favoritas', false, ['../../../assets/albumes/Favs_cover.jpg'])"
            class="item-playlist">
            <ion-col size="2">
              <div class="img-playlist">
                <img src="../../../assets/albumes/Favs_cover.jpg" />
              </div>
            </ion-col>
            <ion-col>Favoritas</ion-col>
          </ion-item>
        </ion-row>
        <div expand="full">
          <ion-spinner *ngIf="showSpinner"></ion-spinner>
          <ion-item *ngIf="showError">{{ mensajeError }}</ion-item>
        </div>
        <ion-row *ngFor="let playlist of playlists | async | keyvalue" style="margin: 20px; align-items: center;">
          <ion-item button (click)="openPlaylist(playlist.key, playlist.value.Privado, playlist.value.Fotos)"
            class="item-playlist">
            <ion-col *ngIf="playlist.value.Fotos.length == 0" size="2">
              <div class="img-playlist">
                <img src="../../../assets/albumes/defaultCover.png" />
              </div>
            </ion-col>
            <ion-col *ngIf="playlist.value.Fotos.length > 0" size="2">
              <div class="img-playlist">
                <img src="{{ playlist.value.Fotos[0] }}" />
              </div>
            </ion-col>
            <ion-col>{{ playlist.key }}</ion-col>
          </ion-item>
        </ion-row>
      </ion-grid>

    </ion-item-group>


    <ion-content *ngIf="currentTabMusica == 'Artistas'">
      <ion-grid>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col><h5>Nombre</h5></ion-col>
        </ion-row>
        <div expand="full">
          <ion-spinner *ngIf="showSpinner"></ion-spinner>
          <ion-item *ngIf="showError">{{ mensajeError }}</ion-item>
        </div>
        <ion-row *ngFor="let artista of artistas | async | keyvalue" style="margin: 20px; align-items: center;">
          <ion-item style="width: 100%;" button (click)="openArtist(artista.key, artista.value)">
            <ion-col size="2">
              <img src="{{ artista.value }}" class="img-artista" />
            </ion-col>
            <ion-col>
              {{ artista.key }}
            </ion-col>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-content>

    <ion-content *ngIf="currentTabMusica == 'Albumes'">
      <ion-grid>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col><h5>Nombre</h5></ion-col>
        </ion-row>
        <div expand="full">
          <ion-spinner *ngIf="showSpinner"></ion-spinner>
          <ion-item *ngIf="showError">{{ mensajeError }}</ion-item>
        </div>
        <ion-row *ngFor="let album of albumes | async | keyvalue" style="margin: 20px; align-items: center;">
          <ion-item button (click)="openAlbum(album.key, album.value)" class="item-album">
            <!--NO SE POR QUÉ FALLA [color]="cancion.key == rs.activeTrack?.nombre ? 'playstack shade' : 'white'"-->
            <ion-col size="2"><img src="{{ album.value }}" class="img-album" /></ion-col>
            <ion-col>{{ album.key }}</ion-col>
            <!-- Falta la duracion en el servicio <ion-col>{{ cancion.value.duracion}}</ion-col>-->
            <!-- Falta la fecha en el servicio <ion-col>{{ cancion.value.fecha}}</ion-col>-->
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-content>




  <!-- Pestañas podasts -->

  <ion-content *ngIf="currentTab == 'Podcasts'">
    <ion-toolbar>
      <ion-segment color="light" [value]="currentTabPodcasts">
        <ion-segment-button value="Episodios" (click)="setEpisodios()">
          Episodios
        </ion-segment-button>
        <ion-segment-button value="Programas" (click)="setProgramas()">
          Programas
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <!-- Falta por hacer acceso a BD-->
    <ion-content *ngIf="currentTabPodcasts == 'Episodios'">
      <h2 class="titulos-podcasts">Sin escuchar:</h2>
      <ion-grid>

        <ion-row style="font-size: large;">
          <ion-col size="1"><h5>Nº capítulo</h5></ion-col>
          <ion-col size="5"><h5>Nombre</h5></ion-col>
          <ion-col size="3">Fecha</ion-col>
          <ion-col size="2">Duracion</ion-col>
        </ion-row>
        <div expand="full">
          <ion-spinner *ngIf="showSpinner"></ion-spinner>
          <ion-item *ngIf="showError">{{ mensajeError }}</ion-item>
        </div>
        <ion-row *ngFor="let capitulo of informacionPodcast">
          <ion-item button (click)="playChapter(capitulo)" style="width: 100%;">
            <ion-col size="1">{{ capitulo.numCap }}</ion-col>
            <ion-col size="5">{{ capitulo.nombre }}</ion-col>
            <ion-col>{{ capitulo.fecha }}</ion-col>
            <ion-col>10:00</ion-col>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-content>

    <ion-content *ngIf="currentTabPodcasts == 'Programas'">
      <h2 class="titulos-podcasts">Podcasts que sigues:</h2>
      <ion-grid>
        <ion-row style="font-size: large;">
          <ion-col></ion-col>
          <ion-col><h5>Podcast</h5></ion-col>
          <ion-col><h5>Idioma</h5></ion-col>
          <ion-col><h5>Interlocutores</h5></ion-col>
        </ion-row>
        <div expand="full">
          <ion-spinner *ngIf="showSpinner"></ion-spinner>
          <ion-item *ngIf="showError">{{ mensajeError }}</ion-item>
        </div>
        <ion-row *ngFor="let programa of podcasts | async | keyvalue">
          <ion-item button class="item-album" (click)="openPodcast(programa)">
            <!--NO SE POR QUÉ FALLA [color]="cancion.key == rs.activeTrack?.nombre ? 'playstack shade' : 'white'"-->
            <ion-col><img src="{{ programa.value.Foto }}" class="img-album" /></ion-col>
            <ion-col color="light">{{ programa.key }}</ion-col>
            <ion-col>
            {{ programa.value.Idioma }}
            </ion-col>
            <ion-col>
            {{ mostrarInterlocutores(programa.value.Interlocutores) }}
            </ion-col>

          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-content>

  </ion-content>





</ion-content>

<ion-footer>
  <app-reproductor></app-reproductor>
</ion-footer>