<ion-header>
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div expand="full">
    <h1>Pruebas del reproductor</h1>
    <ion-list>
      <ion-item button *ngFor="let track of rs.playlist" (click)="rs.start(track)">
        <ion-label [color]="track == rs.activeTrack ? 'success' : 'warning'">
          {{ track.name }}
        </ion-label>
      </ion-item> 
    </ion-list>
  </div> 
  
</ion-content>

<ion-footer>
  <app-reproductor></app-reproductor>
</ion-footer>
