<ion-header>
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-searchbar placeholder="Buscar en PlayStack" color="light" debounce="500" (ionChange)="onSearchChange($event)">
  </ion-searchbar>

  <ion-text *ngIf="!buscando">Puedes buscar canciones, playlists, albumes, podcasts y artistas.</ion-text>

  <ion-grid *ngIf="buscando">
    <ion-row style="font-size: large;">
      <ion-col>
        <ion-card>
          <ion-card-title color="light">
            Canciones
          </ion-card-title>
          <ion-card-content>
            <ion-label *ngIf="errorCanciones">No se han encontrado canciones</ion-label>

            <ion-list *ngIf="buscandoCanciones" lines="none">
              <ion-item *ngFor="let item of [1,2,3,4,5]">
                <ion-thumbnail slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <div>
                    <h3>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
                    </p>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>

            <ion-list lines="none">
              <ion-item *ngFor="let cancion of canciones | keyvalue; let i = index;" button
                (click)="playTrack(cancion.key, cancion.value)">
                <ion-thumbnail slot="start">
                  <img src="{{ cancion.value.ImagenesAlbum[0] }}" />
                </ion-thumbnail>
                <ion-label>
                  <div>
                    <h2 style="display: inline;">{{ cancion.key }}</h2>
                    <h3 style="display: inline; padding-left: 20px;">{{ cancion.value.Albumes.join(', ') }}</h3>
                    <p>{{ cancion.value.Artistas.join(', ') }}</p>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title color="light">
            Playlist
          </ion-card-title>
          <ion-card-content>
            <ion-label *ngIf="errorPlaylists">No se han encontrado playlists</ion-label>

            <ion-list *ngIf="buscandoPlaylists" lines="none">
              <ion-item *ngFor="let item of [1,2,3,4,5]">
                <ion-thumbnail slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <div>
                    <h3>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
                    </p>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>


            <ion-list lines="none">
              <ion-item *ngFor="let playlist of playlists | keyvalue; let i = index;" button
                (click)="openPlaylist(playlist.key, playlist.value.Fotos)">
                <ion-thumbnail slot="start">
                  <img src="{{ playlist.value.Fotos[0] }}" />
                </ion-thumbnail>
                <ion-label>
                  <div>
                    <h2 style="display: inline;">{{ playlist.key }}</h2>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>




    <ion-row style="font-size: large;">
      <ion-col>
        <ion-card>
          <ion-card-title color="light">
            Albumes
          </ion-card-title>
          <ion-card-content>
            <ion-label *ngIf="errorAlbumes">No se han encontrado álbumes</ion-label>

            <ion-list *ngIf="buscandoAlbumes" lines="none">
              <ion-item *ngFor="let item of [1,2,3,4,5]">
                <ion-thumbnail slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <div>
                    <h3>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
                    </p>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>

            <ion-list lines="none">
              <ion-item *ngFor="let album of albumes | keyvalue; let i = index;" button
                (click)="openAlbum(album.key, [album.value])">
                <ion-thumbnail slot="start">
                  <img src="{{ album.value }}" />
                </ion-thumbnail>
                <ion-label >
                  <div>
                    <h2 style="display: inline;">{{ album.key }}</h2>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title color="light">
            Podcasts
          </ion-card-title>
          <ion-card-content>
            <ion-label *ngIf="errorPodcasts">No se han encontrado podcasts</ion-label>

            <ion-list *ngIf="buscandoPodcasts" lines="none">
              <ion-item *ngFor="let item of [1,2,3,4,5]">
                <ion-thumbnail slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <div>
                    <h3>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
                    </p>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>

            <ion-list lines="none">
              <ion-item *ngFor="let podcast of podcasts | keyvalue; let i = index;">
                <ion-thumbnail slot="start">
                  <img src="{{ podcast.value }}" />
                </ion-thumbnail>
                <ion-label>
                  <div>
                    <h2 style="display: inline;">{{ podcast.key }}</h2>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row style="font-size: large;">
      <ion-col size-md="6">
        <ion-card>
          <ion-card-title color="light">
            Artistas
          </ion-card-title>
          <ion-card-content>
            <ion-label *ngIf="errorArtistas">No se han encontrado artistas</ion-label>

            <ion-list *ngIf="buscandoArtistas" lines="none">
              <ion-item *ngFor="let item of [1,2,3,4,5]">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                  <div>
                    <h3>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
                    </p>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>

            <ion-list lines="none">
              <ion-item *ngFor="let artista of artistas; let i = index;" button
              (click)="openArtist(artista.Nombre, artista.Foto)">
                <ion-thumbnail slot="start">
                  <img src="{{ artista.Foto }}" />
                </ion-thumbnail>
                <ion-label>
                  <div>
                    <h2 style="display: inline;">{{ artista.Nombre }}</h2>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <!--
    <div expand="full">
      <ion-spinner *ngIf="showSpinner"></ion-spinner>
      <ion-item *ngIf="showError">{{ mensajeError }}</ion-item>
    </div>
    -->

  </ion-grid>
</ion-content>

<ion-footer>
  <app-reproductor></app-reproductor>
</ion-footer>