
.avatar {
    width: 160px;
    height: 160px;
    position: relative;
    margin: 0 auto;

    img {
        height: 160px;
        width: 160px;
        display: block;
        border-radius: 50%;
        position: relative;
        bottom: calc(-1*(80px + 4px));
        border: 8px solid #e94546;
        background-color: #fff;
    }
}