ion-avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.perfil-container {
    width: 800px;
    margin: 0 auto;
}

ion-card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin: 10px;
}

ion-card-header {
    text-align: center;
}

ion-card-content {
    text-align: center;
}