<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="./home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ nombrePodcast }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-center" style="padding: 40px;">
        
        <ion-img style="width: 50%; margin: 0 auto;" [src]="(podcast | async).Foto"></ion-img>
        <h1>{{ nombrePodcast }}</h1>
        <!--
        <p>Número de episodios: {{ infoPodcast.capitulos.length }}</p>
        <p>Idioma: {{ infoPodcast.idioma }}</p>
        <p>Interlocutores: {{ infoPodcast.Interlocutores.join(', ') }}</p>
        <p>Descripcion: {{ infoPodcast.Descripcion }}</p>
        -->
        
      </ion-col>
      <ion-col size="8" style="padding: 40px">
        <ion-row class="ion-text-center">
          <h2>Capítulos:</h2>
        </ion-row>
        <ion-row style="font-size: large;">
          <ion-col>#</ion-col>
          <ion-col>Nombre</ion-col>
          <ion-col>Fecha</ion-col>
          <ion-col>Duración</ion-col>
        </ion-row>

        <div expand="full">
          <ion-spinner *ngIf="showSpinner"></ion-spinner>
          <ion-item *ngIf="showError">{{ mensajeError }}</ion-item>
        </div>

        <!--
        <ion-row *ngFor="let capitulo of (podcast | async).capitulos let i = index">
          <ion-item button style="width: 100%;">
            
            <ion-col>{{ capitulo.numChapter }}</ion-col>
            <ion-col>{{ capitulo.nombre }}</ion-col>
            <ion-col>{{ capitulo.fecha }}</ion-col>
            
          </ion-item>
        </ion-row>
      -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-reproductor></app-reproductor>
  </ion-toolbar>
</ion-footer>